In [42]:
#wap to print the series of 1,2,3,...n
n = int(input("Enter the Value"))

for i in range(1,n+1):
    print(i,end = ',')

Enter the Value 10

1,2,3,4,5,6,7,8,9,10,

In [47]:
#2. Write a program to print the series N,..3,2,1.
n = int(input("Enter the value"))

for i in range(n,1-1,-1):
    print(i,end = ',')

Enter the value 10

10,9,8,7,6,5,4,3,2,1,

In [57]:
#3. Write a program to print the first N terms of the series 1,4,9,16.....
n = int(input("Enter a value for loop"))

for i in range(1,n+1):
    i=i**2
    print(i,end = ',')

Enter a value for loop 10

1,4,9,16,25,36,49,64,81,100,

In [61]:
#4. Write a program to print the first N terms of the series 1,8,27,64.....
n = int(input("Enter the value for loop"))

for i in range(1,n+1):
    i = i**3
    print(i,end=',')

Enter the value for loop 10

1,8,27,64,125,216,343,512,729,1000,

In [64]:
#5. Write a program to print the first N terms of the series 1,3,5,.....
n = int(input("Enter a value:"))

for i in range(1,n+1,2):
    print(i,end = ',')

Enter a value: 10

1,3,5,7,9,

In [68]:
#6. Write a program to print the first N terms of the series 0,2,4,.....
n=int(input("Enter the value"))

for i in range(0,n+1,2):
    print(i,end=',')

Enter the value 10

0,2,4,6,8,10,

In [74]:
#7. Write a program to print the first N terms of the series 1,-1,1,-1,.....
n =int(input("Enter the Value"))

for i in range(1,n+1):
    if(i%2==0):
        print(1,end=',')
    else:
        print(-1,end = ',')

Enter the Value 10

-1,1,-1,1,-1,1,-1,1,-1,1,

In [75]:
#8. Write a program to print the first N terms of the series 1,0,1,0.....
n=int(input("Enter the Value"))

for i in range(1,n+1):
    if(i%2==0):
        print(0,end = ',')
    else:
        print(1,end = ',')

Enter the Value 10

1,0,1,0,1,0,1,0,1,0,

In [4]:
#10.Write a program to print the first N terms of the series 9,99,999,.....
n = int(input("Enter a value-->"))

term = 9
for i in range(n):
    term = term*10+9
    print(term)

Enter a value--> 10

99
999
9999
99999
999999
9999999
99999999
999999999
9999999999
99999999999

AttributeError: module 'os' has no attribute 'touch'